extends layout

block content
	h1= title
	br
	br
	div(id='lws')

block scripts
	script(src="https://unpkg.com/@selfkey/lws-js-client@1.0.0-beta.34/dist/lws.min.js")
	script(src="/javascripts/index.js")
